@import 'variables';

input[type=datetime-local] {
    width: 100%;
    background-color: $lightGrayColor;
    border: none;
    outline: none;
    color: inherit;
    padding: 14px 12px;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}