@import 'variables';

input[type=text] {
    padding: 14px 12px;
    border: none;
    color: inherit;
    background-color: $lightGrayColor;
    outline: none;
    border-radius: 5px;
    width: 300px;
}