.login-page {
    width: 600px;
    margin: 100px auto 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}