@import "variables";

button {
  padding: 12px 22px;
  color: inherit;
  border: none;
  outline: none;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.danger {
  background-color: $redColor;
}

.success {
  background-color: $greenColor;
}

.blue {
  background-color: $blueColor;
}

.transparent {
  background-color: transparent;
}
